<h1> Bookmarks </h1>

<form action="/bookmarks" method="get">
  <input type="submit" value="List of bookmarks">
</form>

<form action="/add-bookmarks" method="get">
  <input type="submit" value="Add Bookmark">
</form>